<h1 class="title is-5">Transação</h1>
<div class="formulario">
    <form (ngSubmit)="save(true)">
        <div class="notification is-danger" *ngFor="let error of errors">
            {{error}}
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="value">Valor</label>

                <input class="input" id="value" [(ngModel)]="transactionVm.value" type="number" step="0.01" min="0" name="value">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="description">Descrição</label>

                <input class="input" [(ngModel)]="transactionVm.description" type="text" name="description">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="category">Categoria</label>

                <span class="select">
                    <select [(ngModel)]="transactionVm.categoryIndex" name="categoryIndex">
                        <option *ngFor="let c of categories; let i = index" [value]="i">{{c.name}}</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="account">Conta</label>

                <span class="select">
                    <select [(ngModel)]="transactionVm.accountIndex" name="accountIndex">
                        <option *ngFor="let a of accounts; let i = index" [value]="i">{{a.name}}</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="label" for="date">Data</label>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" [(ngModel)]="transactionVm.date" type="date" name="date">
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">Salvar</button>
                <button class="button is-info" type="button" (click)="save(false)">Salvar e novo</button>
                <button class="button is-danger" [hidden]="isNew" type="button" (click)="delete()">Excluir</button>
                <button class="button" type="button" (click)="back()">Voltar</button>
            </div>
        </div>
    </form>
</div>
<app-spinner [isRunning]="isRequesting"></app-spinner>