tr{
    cursor: pointer;
}

input[type="date"]{
    width: 140px;
}
@media only screen and (min-device-width: 601px) {
    select[multiple] {
        height: 107px;
        width: 170px;
        vertical-align: middle;
    }
}