<h2>Lista de transações</h2>
<form (ngSubmit)="search()">
    <label for="searchFilter.initialDate">Data</label>
    <input [(ngModel)]="searchFilter.initialDate" type="date" name="searchFilter.initialDate">
    <input [(ngModel)]="searchFilter.finalDate" type="date" name="searchFilter.finalDate">
    <label for="searchFilter.category">Categoria</label>
    <select [(ngModel)]="searchFilter.category" name="searchFilter.category">
        <option *ngFor="let c of categories" [value]="c.uuid">{{c.name}}</option>
    </select>
    <label for="searchFilter.account">Conta</label>
    <select [(ngModel)]="searchFilter.account" name="searchFilter.account">
        <option *ngFor="let a of accounts" [value]="a.uuid">{{a.name}}</option>
    </select>
    <label for="searchFilter.order">Ordem</label>
    <select [(ngModel)]="searchFilter.order" name="searchFilter.order">
        <option value="date">Data</option>
        <option value="value">Valor</option>
    </select>
    <button type="submit">Procurar</button>
</form>
<table>
    <tr>
        <th>Categoria</th>
        <th>Conta</th>
        <th>Descrição</th>
        <th>Data</th>
        <th>Valor</th>
    </tr>
    <tr *ngFor="let transaction of transactions" (click)="edit(transaction.uuid)" > 
        <td>{{transaction.categoryName}}</td>
        <td>{{transaction.accountName}}</td>
        <td>{{transaction.description}}</td>
        <td>{{transaction.date | date:'dd'}}/{{transaction.date | date:'MM'}}/{{transaction.date | date:'y'}}</td>
        <td>{{transaction.value | number:'1.2-2'}}</td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>Total:</td>
        <td>{{balance | number:'1.2-2'}}</td>
    </tr>
</table>