<h1 class="title is-5">Categoria</h1>
<div class="formulario">
    <form (ngSubmit)="save(true)">
        <div class="notification is-danger" *ngFor="let error of errors">
            {{error}}
        </div>
        <label class="label" for="name">Nome</label>
        <p class="control">
            <input class="input" id="name" [(ngModel)]="category.name" type="text" name="name">
        </p>
        <label class="label" for="priority">Prioridade</label>
        <p class="control">
            <input class="input" [(ngModel)]="category.priority" type="number" step="1" name="priority">
        </p>
        <label class="label" for="group">Agrupamento</label>
        <p class="control">
            <span class="select">
                <select [(ngModel)]="groupIndex" name="groupIndex">
                    <option *ngFor="let g of groups; let i = index" [value]="i">{{g.name}}</option>
                </select>
            </span>
        </p>
        <label class="label" for="category">Tipo</label>
        <p class="control">
            <span class="select">
                <select [(ngModel)]="typeIndex" name="typeIndex">
                    <option *ngFor="let t of types; let i = index" [value]="i">{{types[i]}}</option>
                </select>
            </span>
        </p>
        <p class="control">
            <button class="button is-primary" type="submit">Salvar</button>
            <button class="button is-info" type="button" (click)="save(false)">Salvar e novo</button>
            <button class="button is-danger" [hidden]="isNew" type="button" (click)="delete()">Excluir</button>
            <button class="button" type="button" (click)="back()">Voltar</button>
        </p>
    </form>
</div>
<app-spinner [isRunning]="isRequesting"></app-spinner>