<h1 class="title is-5">Saldo</h1>
<form (ngSubmit)="search()">
    <div class="horizontal-field">
        <label class="label" for="date">Data</label>
        <p class="control">
            <input class="input" [(ngModel)]="date" type="date" name="date">
        </p>
    </div>
    <div class="horizontal-field buttons-space">
        <button class="button is-primary" type="submit">Procurar</button>
    </div>
</form>
<table class="table grid">
    <tr *ngFor="let balance of balancePerAccountReport.balances">
        <td>
            <b>{{balance.account}}</b>
        </td>
        <td class="money">{{balance.balance | number:'1.2-2'}}</td>
    </tr>
    <tr>
        <td>
            <b>Total</b>
        </td>
        <td class="money"> {{balancePerAccountReport.total | number:'1.2-2'}}</td>
    </tr>
</table>