<h2>Nova transferência</h2>
<form (ngSubmit)="save()">
    <ul>
        <li class="error" *ngFor="let error of errors">{{error}}</li>
    </ul>
    <label for="value">Valor:</label>
    <input id="value" [(ngModel)]="transferVm.value" type="number" step="0.01" min="0" name="value">
    <label for="description">Descrição:</label>
    <input [(ngModel)]="transferVm.description" type="text" name="description">
    <label for="fromAccount">Conta origem</label>
    <select [(ngModel)]="transferVm.fromAccountIndex" name="fromAccountIndex">
        <option *ngFor="let a of accounts; let i = index" [value]="i">{{a.name}}</option>
    </select>
    <label for="toAccount">Conta destino</label>
    <select [(ngModel)]="transferVm.toAccountIndex" name="toAccountIndex">
        <option *ngFor="let a of accounts; let i = index" [value]="i">{{a.name}}</option>
    </select>
    <label for="date">Data</label>
    <input [(ngModel)]="transferVm.date" type="date" name="date">
    <div>
        <button type="submit">Salvar</button>
        <button type="button" (click)="back()">Voltar</button>
    </div>
</form>
<app-spinner [isRunning]="isRequesting"></app-spinner>