<form class="column" (ngSubmit)="login(username, password)">
  <div class="notification is-danger" *ngFor="let error of errors">
     {{error}}
  </div>
  <label class="label" for="login">Usuário</label>
  <p class="control">
    <input class="input" [(ngModel)]="username" type="text" name="username">
  </p>
  <label class="label" for="senha">Senha</label>
  <p class="control">
    <input class="input" [(ngModel)]="password" type="password" name="password">
  </p>
  <button class="button is-primary" type="submit">Entrar</button>
</form>
<app-spinner [isRunning]="isRequesting"></app-spinner>