<h1 class="title is-5">Lista de transações</h1>
<form class="formulario" (ngSubmit)="search()">
    <div class="field">
        <div class="control">
            <label class="label" for="searchFilter.initialDate">Data</label>
            <input class="input date" [(ngModel)]="searchFilter.initialDate" type="date" name="searchFilter.initialDate">
        </div>
        <div class="control">
            <input class="input date" [(ngModel)]="searchFilter.finalDate" type="date" name="searchFilter.finalDate">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label" for="searchFilter.description">Descrição</label>
            <input class="input" [(ngModel)]="searchFilter.description" type="text" name="description">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label" for="searchFilter.categorys">Categoria</label>
            <ng-select name="searchFilter.categorys" [items]="categories" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true"
                placeholder="Selecione a categoria" [(ngModel)]="searchFilter.categorys">
            </ng-select>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label" for="searchFilter.accounts">Conta</label>
            <ng-select name="searchFilter.accounts" [items]="accounts" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true"
                placeholder="Selecione a conta" [(ngModel)]="searchFilter.accounts">
            </ng-select>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label" for="searchFilter.order">Ordem</label>

            <span class="select">
                <select class="select-dnc" [(ngModel)]="searchFilter.order" name="searchFilter.order">
                    <option value="date">Data</option>
                    <option value="value">Valor</option>
                </select>
            </span>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary" type="submit">Procurar</button>
            <button class="button" (click)="cleanFilter()">Limpar filtros</button>
            <button class="button is-info" (click)="createNew()">Nova transação</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Conta</th>
            <th>Descrição</th>
            <th>Data</th>
            <th class="money">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions" (click)="edit(transaction.uuid)">
            <td>{{transaction.category.name}}</td>
            <td>{{transaction.account.name}}</td>
            <td>{{transaction.description}}</td>
            <td>{{transaction.date | date:'dd'}}/{{transaction.date | date:'MM'}}/{{transaction.date | date:'y'}}</td>
            <td class="money">{{transaction.value | number:'1.2-2'}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td>Total:</td>
            <td class="money">{{balance | number:'1.2-2'}}</td>
        </tr>
    </tfoot>
</table>