tr{
    cursor: pointer;
}

.grid{
    margin-top: 20px;
}

.green {
    color: seagreen;
}

.red {
    color: orangered
}

.buttons-space{
    width: 40px;
    height: 210px;
}

.buttons-space button{
    position:relative;
    top:9%; 
    left:50%;
}