tr{
    cursor: pointer;
}

.grid{
    margin-top: 20px;
}

.buttons-space{
    width: 40px;
    height: 150px;
}

.buttons-space button{
    position:relative;
    top:23%; 
    left:50%;
}

.two-lines {
    height: 146px;
}
