<h1 class="title is-5">Lista de transações</h1>
<form (ngSubmit)="search()">
    <div class="horizontal-field two-lines">
        <label class="label" for="searchFilter.initialDate">Data</label>
        <p class="control">
            <input class="input date" [(ngModel)]="searchFilter.initialDate" type="date" name="searchFilter.initialDate">
            <input class="input date" [(ngModel)]="searchFilter.finalDate" type="date" name="searchFilter.finalDate">
        </p>
        <label class="label" for="searchFilter.order">Ordem</label>
        <p class="control ">
            <span class="select">
                <select class="select-dnc" [(ngModel)]="searchFilter.order" name="searchFilter.order">
                    <option value="date">Data</option>
                    <option value="value">Valor</option>
                </select>
            </span>
        </p>
    </div>
    <div class="horizontal-field">
        <label class="label" for="searchFilter.categorys">Categoria</label>
        <p class="control select-dnc">
            <select size="7" multiple [(ngModel)]="searchFilter.categorys" name="searchFilter.categorys">
                <option *ngFor="let cat of categories" value="{{cat.value}}">{{cat.label}}</option>
            </select>
        </p>
    </div>
    <div class="horizontal-field">
        <label class="label" for="searchFilter.accounts">Conta</label>
        <p class="control select-dnc">
            <select size="7" multiple [(ngModel)]="searchFilter.accounts" name="searchFilter.accounts">
                <option *ngFor="let acc of accounts" value="{{acc.value}}">{{acc.label}}</option>
            </select>
        </p>
    </div>
    <div class="horizontal-field buttons-space">
        <button class="button is-primary" type="submit">Procurar</button>
        <button class="button is-info" (click)="cleanFilter()">Limpar filtros</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Conta</th>
            <th>Descrição</th>
            <th>Data</th>
            <th class="money">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions" (click)="edit(transaction.uuid)">
            <td>{{transaction.category.name}}</td>
            <td>{{transaction.account.name}}</td>
            <td>{{transaction.description}}</td>
            <td>{{transaction.date | date:'dd'}}/{{transaction.date | date:'MM'}}/{{transaction.date | date:'y'}}</td>
            <td class="money">{{transaction.value | number:'1.2-2'}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td>Total:</td>
            <td class="money">{{balance | number:'1.2-2'}}</td>
        </tr>
    </tfoot>
</table>