<nav class="navbar is-transparent barra-menu">
  <div class="navbar-brand">
    <a class="navbar-item" *ngIf="!isLogged">Financeiro</a>
    <a class="navbar-item" *ngIf="isLogged">{{user}}</a>
  </div>
  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a *ngIf="isLogged" class="navbar-item" [routerLink]="['/transaction-list']">
        Transações
      </a>
      <a *ngIf="isLogged" class="navbar-item" [routerLink]="['/transaction-new']">
        Adicionar
      </a>
      <a *ngIf="isLogged" class="navbar-item" [routerLink]="['/transfer']">
        Transferência
      </a>
      <div *ngIf="isLogged" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" [routerLink]="['/category-list']">
          Configurações
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" [routerLink]="['/category-list']">
            Categorias
          </a>
          <a class="navbar-item" [routerLink]="['/group-list']">
            Agrupamentos de categorias
          </a>
          <a class="navbar-item" [routerLink]="['/account-list']">
            Contas
          </a>
        </div>
      </div>
      <div *ngIf="isLogged" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" [routerLink]="['/balance']">
          Relatórios
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" [routerLink]="['/balance']">
            Saldo
          </a>
          <a class="navbar-item" [routerLink]="['/balance-per-category']">
            Histórico
          </a>
        </div>
      </div>
    </div>

    <div *ngIf="isLogged" class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button" (click)="export()">
              Backup
            </a>
          </p>
          <p class="control">
            <a class="button" (click)="download()">Atualizar</a>
          </p>
          <p class="control">
            <a class="button" (click)="logout()">Sair</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container is-fluid">
  <router-outlet></router-outlet>
</div>
<app-spinner [isRunning]="isRequesting"></app-spinner>