nav{
    background-color: #009688;    
    width: 100%;
    color: #FFF;
    font-size: 18px;
    line-height: 56px;
}
a, a:link, a:visited{
    color:#FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
    cursor: pointer;
}
a:last-of-type{
    float: right;
}

a:hover{
    color:#DDD;
}