<nav class="nav has-shadow">
  <div class="nav-left">
    <span class="nav-item is-brand" href="#">
      <h1 class="is-4">Financeiro</h1>
    </span>
    <a *ngIf="isLogged" class="nav-item is-tab" [routerLink]="['/transaction-list']">Transações</a>
    <a *ngIf="isLogged" class="nav-item is-tab" [routerLink]="['/transaction-new']">Adicionar</a>
    <a *ngIf="isLogged" class="nav-item is-tab" [routerLink]="['/transfer']">Transferência</a>
    <a *ngIf="isLogged" class="nav-item is-tab" [routerLink]="['/balance']">Saldo</a>
    <a *ngIf="isLogged" class="nav-item is-tab" [routerLink]="['/balance-per-category']">Histórico</a>
  </div>
  <div class="nav-right" *ngIf="isLogged">
    <a class="nav-item is-tab" (click)="export()">Backup</a>
    <a class="nav-item is-tab" (click)="download()">Atualizar</a>
    <a class="nav-item is-tab" (click)="logout()">Sair</a>
  </div>
</nav>
<div class="container is-fluid">
  <router-outlet></router-outlet>
</div>
<app-spinner [isRunning]="isRequesting"></app-spinner>