<h1 class="title is-5">Histórico</h1>
<form class="formulario" (ngSubmit)="search()">
    <div class="field">
        <div class="control">
            <label class="label" for="initialDate">Data</label>

            <input class="input date" [(ngModel)]="initialDate" type="date" name="initialDate">
            <input class="input date" [(ngModel)]="finalDate" type="date" name="finalDate">
        </div>
    </div>
    <div class="field" *ngIf="allOwners.length > 1">
        <div class="control">
            <label class="label" for="owners">Donos</label>

            <ng-select name="owners" [items]="allOwners" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" placeholder="Selecione o dono"
                (change)="ownerSelected()" [(ngModel)]="owners">
            </ng-select>

        </div>
    </div>
    <div class="field" *ngIf="allAccounts.length > 1">
        <div class="control">
            <label class="label" for="accounts">Conta</label>

            <ng-select name="accounts" [items]="allAccounts" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true" placeholder="Selecione a conta"
                [(ngModel)]="accounts">
            </ng-select>

        </div>
    </div>
    <div class="field">
        <div class="control">
            <label class="label" for="show">Exibir</label>
            <span class="select">
                <select [(ngModel)]="show" name="show">
                    <option value="last">Último</option>
                    <option value="all">Todos</option>
                </select>
            </span>
        </div>
    </div>
    <div class="field">
        <button class="button is-primary" type="submit">Procurar</button>
    </div>
</form>
<table class="table grid">
    <tr>
        <th>Categoria</th>
        <th *ngFor="let cell of balancePerCategoryReport.totalBalance.balances;let i = index" class="money" [hidden]="hide(i, balancePerCategoryReport.totalBalance.balances.length)">
            {{cell.date | date:'MM'}}/{{cell.date | date:'y'}}
        </th>
        <th class="money">Média</th>
        <th class="money">Total</th>
    </tr>
    <tr class="bold">
        <td>Créditos</td>
        <td *ngFor="let cell of balancePerCategoryReport.totalCredits.balances;let i = index" class="money" [ngClass]="setCreditClass(cell.balance, balancePerCategoryReport.totalCredits.average)"
            [hidden]="hide(i, balancePerCategoryReport.totalCredits.balances.length)">
            {{cell.balance | number:'1.2-2'}}
        </td>
        <td class="money">{{ balancePerCategoryReport.totalCredits.average | number:'1.2-2'}}</td>
        <td class="money">{{ balancePerCategoryReport.totalCredits.total | number:'1.2-2'}}</td>
    </tr>
    <tr *ngFor="let row of balancePerCategoryReport.credits">
        <td>{{row.category}}</td>
        <td *ngFor="let cell of row.balances;let i = index" class="money" [ngClass]="setCreditClass(cell.balance, row.average)" [hidden]="hide(i, row.balances.length)"
            (click)="showTransactions(row.uuid, cell.uuid)">
            {{cell.balance | number:'1.2-2'}}
        </td>
        <td class="money">{{row.average | number:'1.2-2'}}</td>
        <td class="money">{{row.total | number:'1.2-2'}}</td>
    </tr>
    <tr class="bold">
        <td>Débitos</td>
        <td *ngFor="let cell of balancePerCategoryReport.totalDebits.balances;let i = index" class="money"
         [ngClass]="setDebitClass(cell.balance, balancePerCategoryReport.totalDebits.average)"
            [hidden]="hide(i, balancePerCategoryReport.totalBalance.balances.length)">
            {{cell.balance | number:'1.2-2'}}
        </td>
        <td class="money">{{balancePerCategoryReport.totalDebits.average | number:'1.2-2'}}</td>
        <td class="money">{{balancePerCategoryReport.totalDebits.total | number:'1.2-2'}}</td>
    </tr>
    <tr *ngFor="let row of balancePerCategoryReport.debits">
        <td>{{row.category}}</td>
        <td *ngFor="let cell of row.balances;let i = index" class="money" [ngClass]="setDebitClass(cell.balance, row.average)" [hidden]="hide(i, row.balances.length)"
            (click)="showTransactions(row.uuid, cell.uuid)">
            {{cell.balance | number:'1.2-2'}}
        </td>
        <td class="money">{{row.average | number:'1.2-2'}}</td>
        <td class="money">{{row.total | number:'1.2-2'}}</td>
    </tr>
    <tr class="bold">
        <td>Saldo</td>
        <td *ngFor="let cell of balancePerCategoryReport.totalBalance.balances;let i = index" class="money" [ngClass]="setBalanceClass(cell.balance)"
            [hidden]="hide(i, balancePerCategoryReport.totalBalance.balances.length)">
            {{cell.balance | number:'1.2-2'}}
        </td>
        <td class="money">{{balancePerCategoryReport.totalBalance.average | number:'1.2-2'}}</td>
        <td class="money">{{balancePerCategoryReport.totalBalance.total | number:'1.2-2'}}</td>
    </tr>
</table>