/* You can add global styles to this file, and also import other style files */
tml, body, input, textarea, keygen, select, button {
  font-family: 'Roboto', sans-serif;
  color:#444;
}

body{
    margin: 0;
}

label{
    margin-top:5px;
    display:inline-block;
    margin-left: 5px;
}

h2{
    font-size: 15px;
    margin-left: 5px;
}

form{
    margin: 0 5px;
}

input,
select,
button {
    width: 98%;
    margin: 5px auto;
    display: inline-block;
    border: 1px solid;
    border-color: #EEE;
    background-color: #FFF;
    color:#888;
    height: 35px;
}

button, submit{
    background-color: #2196F3;
    color: #FFF;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

ul {
    -webkit-padding-start: 0;
}

.error {
    background-color: #F88;
    padding: 5px;
    color: #FFF;
    font-weight: bold;
}

table{
    width: 100%;
}

th{
    text-align: left;
}

tr{
    height: 35px;
}
