@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~bulma/css/bulma.min.css";
  
.money{
  text-align: right !important;
}

table{
  margin-top: 15px;
  width: 100%;
}

.formulario{
    width: 400px;
}

select{
  width: 400px;
}

.barra-menu{
  margin-bottom: 10px;
}

tr:hover{
  background-color: #dddddd;
}